body {
  background-color: #333;
}
h1 {
  text-align: center;
}


#potato {
  position: relative;
  width: 367px;
  height: 500px;
  border: 2px solid yellow;
  margin-left: auto;
  margin-right: auto;
  background-image: url(https://c2.staticflickr.com/6/5208/5314450667_f6a43e9fe2_b.jpg);
}

#potato img {
  position: absolute;
}

/* Insert CSS for body below this line*/
#body { 
  top: 28px; left: 68px; 
}
/* Insert CSS for arms below this line*/
#nose_image{ 
  top: 170px;
left: 120px;
}


/* Insert CSS for ears below this line*/
#ears_image{
  top: 105px;
  left: 54px;
}



/* Insert CSS for eyes below this line*/
#eyes_image{
  top: 110px;
  left:120px;
}



/* Insert CSS for mouth below this line*/
#mouth_image{
  top: 175px;
  left:113px;
}




/* Insert CSS for nose below this line*/




/* Insert CSS for eyebrows below this line*/




/* Insert CSS for glasses below this line*/

#glasses_image {
  top: 100px;
  left: 94px;
}


/* Insert CSS for hat below this line*/

#hat_image {
  top: 5px;
  left: 105px;
}


/* Insert CSS for arms below this line*/
#arms_image {
  top: 175px;
  left: 26px;
}

  

/* Insert CSS for moustache below this line*/
#mouth_image{top:240px;
left:280;}



/* Insert CSS for shoes below this line*/

#shoes_image {
  top: 300px;
  left: 50px;
}


/* Insert CSS for cane below this line*/




/* Insert CSS for earrings below this line*/




/* Insert CSS for arms below this line*/




/* Insert CSS for hatflower below this line*/




/* Insert CSS for boosters below this line*/



